    <title>Login</title>
    
<body>
    <h2>Login</h2>
    <hr />
   <div class="panel-default col-md-3 p12">
       <div class="panel-heading">
           <h4>Please Sign In</h4>
       </div>
       <div class="panel-body">
           <input type="text" placeholder="Email" class="form-control"/><br />
           <input type="text" placeholder="Password" class="form-control"/><br />
           <input type="checkbox" /> Remember me <br /><br />
           <button class="btn btn-success form-control">Login</button>
       </div>
   </div>
</body>
